<%- include('../template/cabecera',{title: 'Inicio'}) %>
<div class="container">
	<% if (messages.error) { %>
	<p style="color: red"><%- messages.error %></p>
	<% } %> <% if (messages.success) { %>
	<p style="color: green"><%- messages.success %></p>
	<% } %>

	<div class="card">
		<div class="card-header">Inicio <b><%= name %></b></div>
		<div class="card-body">
			<h1 class="card-title">Welcome</h1>
			<p class="card-text">Inicio de sesion correcto</p>
			<a href="auth/logout" class="btn btn-primary">Logout</a>
		</div>
	</div>
</div>
<%-include('../template/footer') %>
